.creditos .imagen_portada,
#final_cuento .creditos .imagen_portada{
/*    display: grid;*/
   background-image: url("../img/fiesta/01.jpg");

    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;

/*    background-color: #fff;*/
}

.title h2{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#escena_00 .fondo{ 
    background-image: url("../img/fiesta/esc_0_fondo.jpg");
/*    background-image: url("../img/FOLDER/testpos0.jpg");*/
}

#escena_00 .cucu{
    width: 170px;
    height: 400px;
    position: absolute;
    z-index: 6;
    top: 32%;
    left: 29%;
    background-position: -1700% 0%;
    background-size: 1700%;
    background-repeat: repeat-x;
}
.spriteCu{ 
    background-image: url("../img/fiesta/sprite/cucu_escena_01.png");
/*    background-color: rgba(0,0,0,1);*/
/*    background-color: black;*/
    background-repeat: no-repeat;
}

#escena_02 .ratonHeroe {
    width: 1500px;
    height: 600px;
    position: absolute;
    z-index: 6;
    top: 15%;
    left: -3%;
    background-position: -600% 0%;
    background-size: 600%;
    background-repeat: repeat-x;
}
.spriteHe{ 
    background-image: url("../img/fiesta/sprite/raton_escena_03.png");
/*    background-color: rgba(0,0,0,1);*/
/*    background-color: black;*/
    background-repeat: no-repeat;
}

#escena_03 .cocinero {
    width: 600px;
    height: 800px;
    position: absolute;
    z-index: 4;
    top: 14%;
    left: 48%;
    background-position: -300% 0%;
    background-size: 300%;
    background-repeat: repeat-x;
}
.spriteCo{ 
    background-image: url("../img/fiesta/sprite/cocinero_02_escena_04.png");
/*    background-color: rgba(0,0,0,1);*/
/*    background-color: black;*/
    background-repeat: no-repeat;
}

#escena_03 .fondo #cocinero_raton{
    width: 26%;
    position: absolute;
    z-index: 6;
    top: 60%;
    left: 52%;
    pointer-events: none;
}

#escena_04 .wafle {
    width: 400px;
    height: 500px;
    position: absolute;
    z-index: 4;
    top: 57%;
    left: 75%;
    background-position: -200% 0%;
    background-size: 200%;
    background-repeat: repeat-x;
}
.spriteWa{ 
    background-image: url("../img/fiesta/sprite/comiendo_escena_05.png");
/*    background-color: rgba(0,0,0,1);*/
/*    background-color: black;*/
    background-repeat: no-repeat;
}

#escena_05 .estrellas{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 6;
    top: -22px;
    left: 0px;
    background-position: -400% 0%;
    background-size: 400%;
    background-repeat: repeat-x;
}

.spriteEs{ 
    background-image: url("../img/fiesta/sprite/estrellas_escena_06.png");
/*    background-color: rgba(0,0,0,1);*/
/*    background-color: black;*/
    background-repeat: no-repeat;
}

#escena_06 .ojos{
    width: 400px;
    height: 600px;
    position: absolute;
    z-index: 6;
    top: 49%;
    left: 37%;
    background-position: -300% 0%;
    background-size: 300%;
    background-repeat: repeat-x;
}

.spriteOj{ 
    background-image: url("../img/fiesta/sprite/dudoso_escena_07.png");
/*    background-color: rgba(0,0,0,1);*/
/*    background-color: black;*/
    background-repeat: no-repeat;
}



#escena_07 .feliz{
    width: 1000px;
    height: 1000px;
    position: absolute;
    z-index: 4;
    top: 7%;
    left: 30%;
    background-position: -1700% 0%;
    background-size: 1700%;
    background-repeat: repeat-x;

}

.spriteFe{ 
    background-image: url("../img/fiesta/sprite/feliz_02_escena_08.png");
/*    background-color: rgba(0,0,0,1);*/
/*    background-color: black;*/
    background-repeat: no-repeat;
}

#escena_07 .perro{
    width: 500px;
    height: 500px;
    position: absolute;
    z-index: 4;
    top: 53%;
    left: 8%;
    background-position: -1700% 0%;
    background-size: 1700%;
    background-repeat: repeat-x;
}

.spritePe{ 
    background-image: url("../img/fiesta/sprite/musico_01_escena_08.png");
/*    background-color: rgba(0,0,0,1);*/
/*    background-color: black;*/
    background-repeat: no-repeat;
}

#escena_08 .sergio {
    width: 450px;
    height: 550px;
    position: absolute;
    z-index: 6;
    top: 17%;
    left: 38%;
    background-position: -200% 0%;
    background-size: 200%;
    background-repeat: repeat-x;
}
.spriteSr{ 
    background-image: url("../img/fiesta/sprite/dance_06_escena_09.png");
/*    background-color: rgba(0,0,0,1);*/
/*    background-color: black;*/
    background-repeat: no-repeat;
}

#escena_08 .dance01 {
    width: 17%;
    height: 46%;
    position: absolute;
    z-index: 6;
    top: 47%;
    left: 58%;
    background-position: -200% 0%;
    background-size: 200%;
    background-repeat: repeat-x;
}
.spriteD01{ 
    background-image: url("../img/fiesta/sprite/dance_01_escena_09.png");
/*    background-color: rgba(0,0,0,1);*/
/*    background-color: black;*/
    background-repeat: no-repeat;
}

#escena_08 .dance02 {
    width: 16%;
    height: 45%;
    position: absolute;
    z-index: 7;
    top: 46%;
    left: 50%;
    background-position: -200% 0%;
    background-size: 200%;
    background-repeat: repeat-x;
}
.spriteD02{ 
    background-image: url("../img/fiesta/sprite/dance_02_escena_09.png");
/*    background-color: rgba(0,0,0,1);*/
/*    background-color: black;*/
    background-repeat: no-repeat;
}
#escena_08 .dance03 {
    width: 17%;
    height: 41%;
    position: absolute;
    z-index: 7;
    top: 47%;
    left: 38%;
    background-position: -200% 0%;
    background-size: 200%;
    background-repeat: repeat-x;
}
.spriteD03{ 
    background-image: url("../img/fiesta/sprite/dance_03_escena_09.png");
/*    background-color: rgba(0,0,0,1);*/
/*    background-color: black;*/
    background-repeat: no-repeat;
}
#escena_08 .dance04 {
    width: 14%;
    height: 38%;
    position: absolute;
    z-index: 6;
    top: 54%;
    left: 31%;
    background-position: -200% 0%;
    background-size: 200%;
    background-repeat: repeat-x;
}
.spriteD04{ 
    background-image: url("../img/fiesta/sprite/dance_04_escena_09.png");
/*    background-color: rgba(0,0,0,1);*/
/*    background-color: black;*/
    background-repeat: no-repeat;
}
#escena_08 .dance05 {
    width: 12%;
    height: 36%;
    position: absolute;
    z-index: 5;
    top: 53%;
    left: 67%;
    background-position: -200% 0%;
    background-size: 200%;
    background-repeat: repeat-x;
}
.spriteD05{ 
    background-image: url("../img/fiesta/sprite/dance_05_escena_09.png");
/*    background-color: rgba(0,0,0,1);*/
/*    background-color: black;*/
    background-repeat: no-repeat;
}



#escena_01 .fondo{ 
    background-image: url("../img/fiesta/esc_1_fondo.jpg");
/*    background-image: url("../img/FOLDER/testpos1.jpg");*/
}

#escena_02 .fondo{ 
    background-image: url("../img/fiesta/esc_2_fondo.jpg");
/*    background-image: url("../img/FOLDER/testpos2.jpg");*/
}

#escena_03 .fondo{ 
    background-image: url("../img/fiesta/esc_3_fondo.jpg");
/*    background-image: url("../img/FOLDER/testpos3.jpg");*/
}

#escena_04 .fondo{ 
    background-image: url("../img/fiesta/esc_4_fondo.jpg");
/*    background-image: url("../img/FOLDER/testpos4.jpg");*/
}

#escena_05 .fondo{ 
    background-image: url("../img/fiesta/esc_5_fondo.jpg");
/*    background-image: url("../img/FOLDER/testpos5.jpg");*/
}

#escena_06 .fondo{           
    background-image: url("../img/fiesta/esc_6_fondo.jpg");
/*    background-image: url("../img/FOLDER/testpos6.jpg");*/
}

#escena_07 .fondo{ 
    background-image: url("../img/fiesta/esc_7_fondo.jpg");
/*    background-image: url("../img/FOLDER/testpos7.jpg");*/
}

#escena_08 .fondo{ 
    background-image: url("../img/fiesta/esc_8_fondo.jpg");
/*    background-image: url("../img/FOLDER/testpos9.jpg");*/
}


#escena_00 .btn_interact{ top: 400px; left: 422px;}
#escena_01 .btn_interact{ top: 458px; left: 1300px;}
#escena_02 .btn_interact {top: 500px; left: 200px;}
#escena_03 .btn_interact {top: 425px; left: 918px;}
#escena_04 .btn_interact{ top: 600px; left: 1463px; }
#escena_05 .btn_interact{ top: 60%; left: 59%;}
#escena_06 .btn_interact{ top: 473px; left: 689px;}
#escena_07 .btn_interact{ top: 47%; left: 62%;}
#escena_08 .btn_interact { top: 450px; left: 960px;}











