.creditos .imagen_portada,
#final_cuento .creditos .imagen_portada{
/*    background-image: url(../img/FOLDER/imagen_portada.jpg);*/
/*
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
*/
/*    background-color: #fff;*/
}


#escena_00 .fondo{ 
    background-image: url("../img/FOLDER/esc_0_fondo.jpg");
/*    background-image: url("../img/FOLDER/testpos0.jpg");*/
}
#escena_00 .sprite{ 
    background-image: url("../img/FOLDER/sprite_esc1.png");
/*    background-color: rgba(255,255,0,0.5);*/
}

#escena_01 .fondo{ 
    background-image: url("../img/FOLDER/esc_1_fondo.jpg");
/*    background-image: url("../img/FOLDER/testpos1.jpg");*/
}
#escena_01 .sprite{ 
    background-image: url("../img/FOLDER/sprite_esc2.png");
/*    background-color: rgba(255,0,0,0.9);*/
}

#escena_02 .fondo{ 
    background-image: url("../img/FOLDER/esc_2_fondo.jpg");
/*    background-image: url("../img/FOLDER/testpos2.jpg");*/
}

#escena_02 .sprite{ 
    background-image: url("../img/FOLDER/sprite_esc3.png");
/*    background-color: rgba(255,0,0,0.5);*/
}
#escena_03 .fondo{ 
    background-image: url("../img/FOLDER/esc_3_fondo.jpg");
/*    background-image: url("../img/FOLDER/testpos3.jpg");*/
}

#escena_03 .sprite{ 
    background-image: url("../img/FOLDER/sprite_esc4.png");
/*    background-color: rgba(0,255,0,0.5);*/
}

#escena_04 .fondo{ 
    background-image: url("../img/FOLDER/esc_4_fondo.jpg");
/*    background-image: url("../img/FOLDER/testpos4.jpg");*/
}
#escena_04 .sprite{ 
    background-image: url("../img/FOLDER/sprite_esc5.png");
/*    background-color: rgba(0,255,0,0.5);*/
}

#escena_05 .fondo{ 
    background-image: url("../img/FOLDER/esc_5_fondo.jpg");
/*    background-image: url("../img/FOLDER/testpos5.jpg");*/
}
#escena_05 .sprite{ 
    background-image: url("../img/FOLDER/sprite_esc6.png");
/*    background-color: rgba(0,255,0,0.5);*/
}
#escena_06 .fondo{           
    background-image: url("../img/FOLDER/esc_6_fondo.jpg");
/*    background-image: url("../img/FOLDER/testpos6.jpg");*/
}
#escena_06 .sprite{ 
    background-image: url("../img/FOLDER/sprite_esc7.png");
/*    background-color: rgba(0,255,0,0.5);*/
}

#escena_07 .fondo{ 
    background-image: url("../img/FOLDER/esc_7_fondo.jpg");
/*    background-image: url("../img/FOLDER/testpos7.jpg");*/
}

/* falta el sprite #escena_07 */

#escena_08 .fondo{ 
    background-image: url("../img/FOLDER/esc_8_fondo.jpg");
/*    background-image: url("../img/FOLDER/testpos9.jpg");*/
}

#escena_08 .sprite{ 
    background-image: url("../img/FOLDER/sprite_esc9.png");
/*    background-color: rgba(0,0,0,0.4);*/
}

#escena_00 .btn_interact{ top: 230px; left: 1350px; }

#escena_01 .btn_interact{ top: 470px; left: 850px; }

#escena_02 .btn_interact{ top: 390px; left: 630px; }

#escena_03 .btn_interact{ top: 405px; left: 110px;}

#escena_04 .btn_interact{ top: 262px; left: 800px; }

#escena_05 .btn_interact{ top: 315px; left: 579px; }

#escena_06 .btn_interact{ top: 300px; left: 1285px; }

#escena_07 .btn_interact{ top: 170px; left: 210px;}

#escena_08 .btn_interact{ top: 250px; left: 1590px;}











